<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>software</title>
    <link rel="stylesheet" type="text/css" href='style.css'>

</head>
<body>

    <div class="container">
      <h1>Bitrix Parser</h1>
      <form method="post" action="{% url 'update' %}">
        <div class="form-group" >
          <label for="interval-start">Интервал перезагрузки (Сек.)</label>
          <input type="number" id="interval-start" name="interval-start" required>
        </div>
        <div class="form-group">
          <input type="number" id="interval-end" name="interval-end" required>
        </div>
        <div class="form-group">
          <label for="stop-word">Стоп слова</label>
           <textarea id="stop-word" name="stop-word"></textarea>
        </div>
        <button type="submit" class="btn btn-run">Запустить</button>
        <button type="button" class="btn btn-save">Сохранить настройки</button>
      </form>
      <button type="button" class="btn btn-data">Данные по заявкам</button>
    </div>
  </body>
</html>

