<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>software</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
</head>
<body>
    <div class="container">
      <h1>Bitrix Parser</h1>
      {% if user.is_authenticated %}
      <form method="post" action="{% url 'update' %}">
          {% csrf_token %}
          <input type="hidden" name="action" value="">
        <div class="form-group" >
          <label for="interval-start">Интервал перезагрузки (Сек.)</label>
          <input type="number" id="interval-start" name="interval-start" required
                 value="{{ form_data.interval_start }}">
        </div>
        <div class="form-group">
          <input type="number" id="interval-end" name="interval-end" required
          value="{{ form_data.interval_end }}">
        </div>
        <div class="form-group">
          <label for="stop-word">Стоп слова</label>
           <textarea id="stop-word" name="stop-word">{{ form_data.stop_word }}</textarea>
        </div>
          <div class="btn-group">
            <button type="submit"  onclick="document.getElementsByName('action')[0].value = 'run'">Запустить</button>
            <button type="submit"  onclick="document.getElementsByName('action')[0].value = 'save_settings'">Сохранить настройки</button>
            <a href="{% url 'logging' %}" class="btn-settings">Данные по заявкам</a>
          </div>
        </form>
    {% else %}
    <script>
        window.location.replace("{% url 'login' %}");
    </script>
    {% endif %}
    </div>

  </body>
</html>

